/*
Skin package for IPPLF website CSS
BY AFFINITIC

style for static
*/

html, body{
height:100%;
}

body{
margin:0;
padding:0;
background:#f5efe9 url(../images/top_bg_body.png) repeat-x;
}


.gras{
font-weight:bold;
}


#wrapper{
width:1000px;
margin:auto;
}


#portal-logo{
float:left;
margin:7px 0px 0px 0px;
border:1px solid #fff;
border-radius:7px;
background-color: rgba(255, 255, 255, 0.8);
}


/*** HEADER ***/

header#header-theme{
height:91px;
}

#header-bar{
float:right;
margin:-40px 40px 0px 0px;
width:800px;
}


#top-header-nom{
float:left;
width:400px;
color:#fff;
font-size:1.1em;
text-align:center;
margin-left:12px;
font-weight:bold;
}

#top-header-nom a{
color:#fff;
}

nav#menu-home{
margin:auto;
color:#aaa;
}

nav#menu-home .item-menu-sup{
float:left;
margin-left:10px;
}

nav#menu-home a{
display:inline;
width:200px;
color:#b5eaff !important;
text-align:center;
margin:15px auto;
font-size:0.8em;
}

nav#menu-home a:hover{
color:#fff !important;
}

nav#menu-home div#portal-personaltools a:hover{
color:#fff;
}

nav#menu-home #personal-tools-theme{
float:right;
}


#top-header-tools #btn-home{
float:left;
width:20px;
}

#top-header-tools #intranet{
float:left;
margin-left:20px;
}

#top-header-tools #intranet a:hover{
color:#7acad1;
}

#top-header-tools #portal-personaltools {
background:none repeat scroll 0 0 #e3e3e3;
border-radius:0.5em;
font-size:80%;
padding:0.25em 0.5em;
position:relative;
right:0;
top:-2px;
z-index:30;
}






/*** SLIDER HOMEPAGE ***/
#ipplf-slider{
position:relative;
top:0px;
margin:auto;
border-top:1px solid #8b292c;
border-bottom:1px solid #8b292c;
/*box-shadow: 0px 8px 16px rgba(50,50,50,0.5);*/
margin-bottom:16px;
}
.csslider1 > .cs_arrownext {
    right: 0;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0.0001) 0, rgba(0,0,0,0.5) 100%);
    background-image: linear-gradient(to right, rgba(0,0,0,0.0001) 0, rgba(0,0,0,0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
    height: 600px;
}
.csslider1 > .cs_arrowprev {
    left: 0;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0.5) 0, rgba(0,0,0,0.0001) 100%);
    background-image: linear-gradient(to right, rgba(0,0,0,0.5) 0, rgba(0,0,0,0.0001) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
    height: 600px;
}


/*** MAIN CONTENT ***/
#main-content-theme{
min-height:335px;
}

#central-bloc {
display:table;
width:100%;
}

aside#left-column-theme{
display:table-cell;
width:20%;
min-height:380px;
margin-left:20px;
padding-top:10px;
padding-right:10px;
}


#main-column-theme {
display:table-cell;
width:100%;
}

#main-column-large-theme{
float:none;
width:100%;
margin:auto;
}

#content{
}


section#bloc-info-sup {
display: table;
position: relative;
top:0px;
left:0px;
border-collapse: separate;
border-spacing: 20px 0;
min-height: 250px;
width: 945px;
}

.article-nav-sup {
display: table-cell;
width: 260px;
border:1px solid #008b8d;
border-radius:4px;
padding:6px;
text-align:justify;
}



.home-bloc-footer{
text-align:right;
font-size:0.8em;
}


/*** FOOTER ***/
#footer-bar{
background:#116a81;
width:100%;
}

footer#footer-theme{
width:1000px;
margin:auto;
min-height:50px;
padding:1em;
font-size:0.7em;
color:#bbb;
}

#footer-contact,
#footer-bureau,
#footer-reseau-sociaux{
float:left;
margin-left:10px;
width:290px;
vertical-align:top;
padding:15px;
}

#footer-reseau-sociaux{
text-align:center;
}

#footer-menu h2{
color: #aaa;
font-size: 0.9em;
font-weight: normal;
letter-spacing: normal;
cursor:pointer;
}

#footer-menu h2:hover{
color: #fafafa;
}


#footer-menu li{
display:block;
list-style-type:none;
line-height:1.1em;
background-image:url(../images/icone_fleche_off.png);
background-repeat:no-repeat;
background-position:0px 6px;
padding-left:12px;
margin-left:0px;
}

#footer-menu li:hover{
background-image:url(../images/icone_fleche_on.png);
}

#footer-menu li a{
color:#999;
font-size:0.7em;
text-decoration:none;
}

#footer-menu li a:hover{
color:#fff;
}

#footer-menu{
width:1000px;
margin:auto;
border-top:1px solid #6ca1ba;
}

footer nav#footer-menu ul,
#footer-menu h2{
margin:0px;
padding:0px;
}

.section-nav-inf{
float:left;
margin-right:25px;
}


/*** COLOPHON ***/
div#colophon-theme{
width:100%;
border-top:1px dotted #6ca1ba;
padding:4px 0px;
background-color:#116a81;
border-radius:0px 0px 16px 16px;
}

div.colophon-row
{
display: table;
width: 100%; /*Optional*/
table-layout: fixed; /*Optional*/
border-spacing: 10px; /*Optional*/
}
div.colophon-column
{
display: table-cell;
}


div#colophon-theme div#affinitic,
div#colophon-theme div#portal-siteactions-theme,
div#colophon-theme div#plone{
font-size:0.7em;
color:#888;
}

div#colophon-theme div#affinitic{
text-align:left;
margin-left:15px;
}

div#colophon-theme div#plone{
text-align:right;
margin-right:15px;
}

div#colophon-theme div#affinitic a,
div#colophon-theme div#plone a{
color:#b4afa9;
}


div#colophon-theme div#affinitic a:hover,
div#colophon-theme div#plone a:hover{
color:#f17a32;
}

#portal-siteactions-theme{
text-align:center;
}

#portal-siteactions-theme a{
color:#aaa !important;
}

#portal-siteactions-theme a:hover{
color:#fff !important;
}



/*** PATRIMOINE CARTO GOOGLE ***/
#table-patrimoine-carto-google{
width:100%;
border:1px dotted #ccc;
border-radius:12px;
}

#table-patrimoine-carto-google td{
padding:4px;
}

#patrimoine-description{
border-right:1px dotted #ccc;
}

#patrimoine-description hr{
border-top: 1px dotted #ccc;
}

#patrimoine-description h3{
background-color:rgba(255,213,140,1);
padding-left:5px;
margin:4px 0px 8px 0px;
}


#carte-google{
text-align:center;
vertical-align:top;
padding-top:8px;
}


/*** TABLE DES ICONES ***/
table.table-icone{
width:90%;
height:230px;
margin:auto;
}

table.table-icone td,
table.table-icone th{
text-align:center;
}

#content table.table-icone a:link{
text-decoration:none;
border-bottom:0px solid #f00;
}

#content table.table-icone a span.titre-icone{
position:relative;
top:0px;
display:block;
z-index:10;
margin:auto;
width:0px;
height:0px;
color:rgba(255,255,255,0);
border-radius:0px 0px 130px 130px;
transition: all 0.5s ease 0s;
}

#content table.table-icone a:hover span.titre-icone{
top:-70px;
height:70px;
width:128px;
background-color:rgba(0,0,0, 0.3);
color:rgba(255,255,255,1);
transition: all 0.5s ease 0s;
}

table.table-form-demande-intervention{
width:95%;
margin:auto;
}

.bouton-modifier{
display:inline-block;
width:30px;
height:30px;
border:1px solid #ccc;
border-radius:18px;
font-size: 25px;
font-weight:bold;
text-align:center;
line-height:30px;
background-color:#aad1d3;
transition:all 0.2s ease-in;
transition:all 0.2s ease-in;
-moz-transition:all 0.2s ease-in;
-o-transition:all 0.2s ease-in;
-webkit-transition:all 0.2s ease-in;
-ms-transition:all 0.2s ease-in;
}


.bouton-modifier:hover{
background-color:#d6fdff;
}


.zone-vert-tableau1{
background-color:rgba(255,0,0,0.5);
color:#333;
font-size:18px;
}
.zone-bleue-tableau2{
background-color:rgba(0,255,0,0.5);
color:#333;
font-size:18px;
}
