#portal-personaltools {
float: right;
position: relative;
right: 0;
top: 0;
z-index: 3;
background: #e3e3e3 none repeat scroll 0 0;
border-bottom-left-radius: 0.5em;
border-bottom-right-radius: 0.5em;
font-size: 80%;
padding: 0.25em 0.5em;
width: 180px;
}

dl.actionMenu.activated dd {
position: absolute;
border-bottom-left-radius: 0.5em;
border-bottom-right-radius: 0.5em;
min-width: 87%;
width: auto;
background:rgba(200,200,200,0.8) !important;
padding-bottom: 0.5em;
}


#content a:link,
#content a.internal-link,
dl.portlet a:link {
border-bottom: 0.1em solid #ccc;
color: #c9570b !important;
}

#content a:hover,
#content a.internal-link:hover,
dl.portlet a:hover {
border-bottom: 0.1em solid #ccc;
color: #f17a32 !important;
}

dl.portlet.portletNavigationTree,
dl.portlet.QuickUploadPortlet{
border:1px solid #D39E65;
border-radius:18px;
background:#ffeec5;
}

.portletHeader{
border-radius:18px 18px 0px 0px;
background-color:#f2d18e !important;
text-transform:small-caps;
text-align:center;
color:#8b292c !important;
}

.portletHeader a:link{
color:#8b292c !important;
}

dl.portlet ul.navTree .navTreeCurrentItem {
background-color: #dec099;
border-left: 1em solid #dec099;
margin-left: -1em;
margin-right: -1em;
}

dl.portlet dd.portletItem ul.navTree li.navTreeItem a{
background-image:none;
}

ul.navTree{
margin-left:0px;
}

ul.navTreeLevel1{
margin-left:25px;
border-left:1px solid #D39E65;
}


a.navTreeFolderish.contenttype-folder{
padding:0 !important;
margin:0;
}

.contenttype-plone-site{
padding-left:-20px !important;
font-weight:bold;
}

dl.portlet.portletNavigationTree dd.portletItem ul.navTree li.navTreeItem a.state-internally_published.navTreeFolderish.contenttype-folder{
color:#00f;
}

dl.portlet.portletNavigationTree dd.portletItem ul.navTree li.navTreeItem a.state-external.navTreeFolderish.contenttype-folder{
color:#992e00;
}

dl.portlet.portletNavigationTree dd.portletItem ul.navTree li.navTreeItem a.navTreeFolderish.contenttype-folder:hover{
color:#f17a32 !important;
/*background-color:rgba(250,250,250,0.3);*/
}

#content h1.documentFirstHeading {
border-bottom: 1px dotted #f79016;
color:#f79016;
margin-top: 0;
}
