/*
Skin package for IPPLF website CSS BY AFFINITIC
Style pour editeur tiny
*/

.texte-rouge{
color:#f00;
}

.texte-ipplf{
color:#a0202b;
}

.texte-orange{
color:#f79016;
}

.texte-blanc{
color:#ffffff;
}

.zone-jaune{
background-color:#fff6af;
border-radius:8px;
padding:6px;
}

.zone-verte{
background-color:#5dc978;
border-radius:8px;
padding:6px;
}

.zone-bleue{
background-color:#116a81;
padding:6px;
color:#fff;
}
